*{
  margin: 0;
  padding: 0;
  box-shadow: border-box;
}
.calc{
  min-width: 400px;
  max-width: 415px;
  text-align: center;
  margin: 0 auto;
  font-size: 0;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  background: #000000;
}
.calc:hover{
  box-shadow: 5px 3px 30px rgba(0, 0, 0, 0.5);
  
}
.calc__input{ 
  padding: 20px 5px 12px 5px;
}
.result{
  width: 100%;
  font-size: 50px;
  font-weight: bold;
  text-align: right;
  padding: 20% 0;
  letter-spacing: 2px;
  background: rgba(120, 120, 120, 0.5);
  border-radius: 0 0 30px 30px;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 1)
  
}
.calc__row{
  margin: 15px 5px;
}
.btn{
  width: 90px;
  height: 95px;
  background: rgba(75, 75, 75, 0.5);
  color: rgba(218, 218, 255, 1);
  font-weight: normal;
  font-size: 35px;
  border: none;
  border-radius: 50%;
  transition: 0.1s;
  margin: 3px;
  
}
.btn:active{
  border-radius: 35%;
  background: rgba(130, 130, 130, .5);
}
.b{
  background: rgba(0, 159, 255, 0.5);
  color: #FFFFFF;
}
.b:active{
  background: rgba(128, 207, 255, 0.5);

}
.c{
  background: rgba(25, 86, 255, 0.5);
}
.c:active{
  background: rgba(137, 170, 255, 0.5)
}
.ac{
  background: rgba(0,180,0,0.5);
}
.ac:active{
  background: rgba(126, 255, 126, 0.5);
}