*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #000000;
}
.preload{
  width: 540px;
  height: 1173px;
  display: none;
}
.calc{
  width: 392px;
  text-align: center;
  margin: 40px auto;
  padding: 6px;
  outline: 3px solid rgba(255, 255, 255, 0.5 );
  font-size: 0;
  box-shadow: 0 0 50px 10px rgba(255, 255, 255, 0.5);
  transition: 0.2s;
  background: #000000;
  border-radius: 20px;
  position: relative;
}
.calc:hover{
  box-shadow: 0 0 100px 20px rgba(255, 255, 255, 0.6);
}
.camera{
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 12px;
  height: 12px;
  background: #000000;
  border-radius: 50%;
}
.result_display{
  width: 100%;
  font-size: 50px;
  text-align: right;
  padding: 80px 0;
  letter-spacing: 2px;
  background: rgba(150, 149, 149, 0.5);
  border-radius: 18px 18px 30px 30px;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 1);
}
.calc__input{
  padding: 30px 0;
}
.calc__row{
  padding: 5px 0;
}
.btn{
  width: 85px;
  min-height: 90px;
  background: rgba(117, 117, 117, 0.5);
  color: rgba(218, 218, 255, 1);
  font-weight: normal;
  font-size: 45px;
  border: none;
  border-radius: 50%;
  transition: 0.1s;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
.btn:active{
  border-radius: 35%;
  background: rgba(130, 130, 130, .5);
}
.reset{
  background: rgba(0,180,0,0.5);
}
.reset:active{
  background: rgba(126, 255, 126, 0.5);
}
.oparetor{
  background: rgba(0, 159, 255, 0.5);
}
.oparetor:active{
  background: rgba(128, 207, 255, 0.5);
}
.equal{
  background: rgba(25, 86, 255, 0.5);
}
.equal:active{
  background: rgba(137, 170, 255, 0.5)
}
.small{
  font-size: 35px;
}